@import "../../../styles/variables";
.container {
  // small hack to fill the gaps between steps and prevent the hover animations from going nuts
  margin-top: calc(-1 * var(--graph-slot-width));
  padding-top: var(--graph-slot-width);
  padding-left: var(--right-col-left-padding);

  @include minDesktop {
    display: flex;
  }

  @media print {
    page-break-inside: avoid;
  }
}

.date {
  line-height: 1.3;
  flex: 0 0 var(--left-col-width);
  color: var(--foreground-dark);
  transition: 0.3s color;
  position: relative;
  padding-bottom: 0.2rem;

  @include minDesktop {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 0;

    &:after {
      box-sizing: border-box;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: 0.3s border-color;

      @media print {
          border-color: var(--step-color);
      }
    }
  }

  @media screen {
    &__highlighted {
      color: var(--step-color);

      &:after {
        border-color: var(--step-color);
      }
    }
  }
}

.content {
  flex: 1 1 auto;
  font-size: 0.85rem;

  @include minTablet {
    font-size: 0.95rem;
  }
}

.title {
  font-size: 0.9rem;
  line-height: 1.3;

  @include minTablet {
    font-size: 1rem;
  }
}

.description {
  color: var(--foreground-dark);
  line-height: 1.4;
}

.tag {
  display: inline-block;
  padding: 0.1rem 0.75rem;
  border: 1px solid var(--background-light);
  color: var(--foreground-dark);
  border-radius: 100px;
  font-size: 0.85rem;
  transition: 0.3s color, 0.3s border-color;
  letter-spacing: 1px;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  @media print {
    border-color: var(--step-color);
  }
}

.tags {
  list-style: none;
  margin: 0.75rem 0 0 0;

  &__highlighted {
    .tag {
      border-color: var(--step-color);
      color: var(--foreground);
    }
  }
}
