.container {
  display: flex;
}

.date {
  line-height: 1.3;
  padding-right: 1rem;
  flex: 0 0 var(--left-col-width);
  text-align: right;
  color: var(--foreground--dark);
  transition: 0.3s color;

  &__highlighted {
    color: var(--step-color);
  }
}

.content {
  flex: 1 1 auto;
  font-size: 0.95rem;
}

.title {
  font-size: 1rem;
  line-height: 1.3;
}

.description {
  color: var(--foreground--dark);
  line-height: 1.4;
}
