$glassHeight: 150px;
$imageSize: 210px;
$border: 4px solid var(--highlight);

@mixin glassify() {
  background-color: rgba(66, 66, 66, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.4);
}

.image {
  background-image: url("/assets/images/sa-moewe-bodensee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 548px;
  background-position: left bottom;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: inset 0px -18px 5px -15px rgba(0, 0, 0, 0.5);
}

.glass {
  @include glassify();
  box-sizing: content-box;
  height: $glassHeight;
  display: flex;
  position: relative;
}

.container {
  width: var(--max-width);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.photoContainer {
  flex: 0 0 auto;
  margin-left: - $imageSize / 2;
  margin-top: - ($imageSize - $glassHeight) / 2;
  position: relative;
  z-index: 1;
}

.photo {
  display: block;
  border-radius: 50%;
  border: $border;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.headlineContainer {
  flex: 1 1 auto;
  padding: 1rem 2rem;
}

.headline {
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.subheadline {
  font-size: 1.2rem;
  font-family: var(--font-default);
  font-weight: lighter;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}