@import "../../styles/variables";

$glassHeight: 150px;

.hero {
  --photo-size: 120px;

  @include minTablet {
    --photo-size: 160px;
  }

  @include minDesktop {
    --photo-size: 210px;
  }

  @media print {
    --photo-size: 140px;
  }

  position: relative;
  z-index: 200;
  transition: 0.7s transform;
  transform: translate(0, 0);

  &__hidden {
    transform: translate(0, -120%);
  }

  @include minNav {
    transform: translate(0, 0);
  }
}

.image {
  background-image: url("/assets/images/sa-moewe-bodensee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  background-position: -30px bottom;

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: inset 0px -18px 5px -15px rgba(0, 0, 0, 0.5);

  @include minTablet {
    min-height: 548px;

  }

  @include minDesktop {
    background-position: left bottom;
  }

  @media print {
    min-height: 0;
    box-shadow: none;
    background-image: none;
  }
}

.bar {
  box-sizing: content-box;
  display: flex;
  position: relative;

  @include minDesktop(false) {
    height: $glassHeight;
  }
}

.glass {
  background-color: rgba(66, 66, 66, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4);

  @media print {
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  border-left: var(--border);
  border-radius: 2rem 0 0 0;

  @media print {
    border-left: none;
    padding-top: 1rem;
  }

  @include minDesktop {
    flex-wrap: nowrap;
  }

  // fix line display
  &:before {
    content: "";
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(-1 * var(--line-width));
    left: calc(-1 * var(--line-width));
    border-left: var(--border);
    border-top: var(--border);
    border-radius: 2rem 0 0 0;

    @include minDesktop {
      display: none;
    }
  }
}

.photoContainer {
  margin-top: calc(-1 * ((var(--photo-size) / 2) - var(--line-width)));
  padding-left: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;

  @include minDesktop {
    width: auto;
    flex: 0 0 auto;
    padding: 0;

    margin-left: calc(-1 * ((var(--photo-size) - (2 * var(--line-width))) / 2));
    margin-top: calc(-1 *  ((var(--photo-size) - #{$glassHeight}) / 2));
    margin-bottom: calc(-1 *  ((var(--photo-size) - #{$glassHeight}) / 2));
  }

  @media print {
    margin: 0;
    padding: 0;
  }
}

.photo {
  display: block;
  border-radius: 50%;
  border: var(--border);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  box-sizing: content-box;
  width: var(--photo-size);
  height: var(--photo-size);

  @media print {
    box-shadow: none;
  }
}

.rightContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  @media print {
    border-bottom: var(--border);
    margin-left: -50px;
    padding-left: 50px;
  }
}

.headlineContainer {
  flex: 1 1 auto;
  padding: 1rem;
  line-height: 1.0;

  @include minDesktop {
    padding: 1rem 2rem;
  }
}

.headline {
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
  font-size: 1.8rem;

  @media print {
    text-shadow: none;
  }

  @include minTablet {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }
}

.subheadline {
  font-size: 0.6rem;
  font-family: var(--font-default);
  font-weight: lighter;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  @media print {
    text-shadow: none;
  }

  @include minTablet {
    font-size: 1.2rem;
  }
}

.toggleContainer {
  flex: 0 0 auto;

  @media print {
    display: none;
  }
}

.toggle {
  --button-size: 16px;
  --bar-height: 2px;

  @include minTablet {
    --button-size: 26px;
    --bar-height: 3px;
  }

  @include minDesktop {
    --button-size: 30px;
    --bar-height: 3px;
  }

  --webkit-appearance: none;
  appearance: none;
  transition: 0.7s transform;
  width: var(--button-size);
  height: var(--button-size);
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    width: var(--button-size);
    height: var(--bar-height);
    background-color: var(--foreground);
    position: absolute;
    left: 0;
    border-radius: calc(var(--bar-height) / 2);
    transition: 0.7s transform;
  }

  &:before {
    top: 21%;
  }

  &:after {
    bottom: 21%;
  }


  &__open {
    transform: rotate(270deg);

    &:before {
      transform: rotate(-30deg);
    }

    &:after {
      transform: rotate(30deg);
    }
  }
}

.sticky {
  --sticky-image-size: 28px;

  @include minTablet {
    --sticky-image-size: 42px;
  }

  @include minDesktop(false) {
    --sticky-image-size: 64px;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @media print {
    display: none;
  }
}

.stickyInner {
  display: flex;
  align-items: center;
}

.stickyPhotoContainer {
  flex: 0 0 auto;
  margin-left: calc(-1 * (var(--sticky-image-size) / 2) - var(--half-line-width));
  transform: translate(0, 10px);
}

.stickyPhoto {
  width: var(--sticky-image-size);
  height: var(--sticky-image-size);
  border: 2px solid var(--highlight);
  border-radius: 50%;
}

.stickyHeadline {
  display: block;
  flex: 1 1 auto;
  padding-left: 1rem;
  line-height: 1.0;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.toggleContainer {
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  margin-right: -1rem;

  @include minNav {
    display: none;
  }
}