@import "variables";

:export {
  foreground: $foreground;
  foregroundDark: $foregroundDark;
  background: $background;
  backgroundDark: $backgroundDark;
  backgroundLight: $backgroundLight;
  highlight: $highlight;
  highlightDark: $highlightDark;
  highlightSecondary: $highlightSecondary;
}