
$minDesktop: 1100px;
$minTablet: 600px;
$minNav: 1740px;

@mixin minTablet($andPrint: true) {
  @media (min-width: $minTablet) {
    @content;
  }
  @if $andPrint {
    @media print, (min-width: $minTablet) {
      @content;
    }
  } @else {
    @media screen and (min-width: $minTablet) {
      @content;
    }
  }
}

@mixin minDesktop($andPrint: true) {
  @if $andPrint {
    @media print, (min-width: $minDesktop) {
      @content;
    }
  } @else {
    @media screen and (min-width: $minDesktop) {
      @content;
    }
  }
}

@mixin minNav() {
  @media screen and (min-width: $minNav) {
    @content;
  }
}