$foreground: #eeeeee;
$foregroundDark: #888888;
$background: #212121;
$backgroundDark: #161616;
$backgroundLight: #424242;
$highlight: #00bbff;
$highlightDark: #0083b3;
$highlightSecondary: #abe5a1;

$minDesktop: 1100px;
$minTablet: 600px;
$minNav: 1740px;

@mixin minTablet($andPrint: true) {
  @media (min-width: $minTablet) {
    @content;
  }
  @if $andPrint {
    @media print, (min-width: $minTablet) {
      @content;
    }
  } @else {
    @media screen and (min-width: $minTablet) {
      @content;
    }
  }
}

@mixin minDesktop($andPrint: true) {
  @if $andPrint {
    @media print, (min-width: $minDesktop) {
      @content;
    }
  } @else {
    @media screen and (min-width: $minDesktop) {
      @content;
    }
  }
}

@mixin minNav() {
  @media screen and (min-width: $minNav) {
    @content;
  }
}