

.container {
  border-left: var(--border);
  display: flex;
  align-items: center;
}

.chartContainer {
  padding: 2rem 0;
  flex: 0 0 var(--chart-diameter);
  margin-left: calc(-1 * (var(--chart-diameter) / 2) - var(--line-width));
}

.radarContainer {
  width: 320px;
  flex: 0 0 320px;
}
