@import "../../styles/variables";

.container {
  border-left: var(--border);

  @include minDesktop {
    display: flex;
    align-items: center;
  }

  @media print {
    page-break-inside: avoid;
  }
}

.leftContainer {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  padding-top: 25px;

  @include minTablet {
    justify-content: space-between;
  }

  @include minDesktop {
    padding-top: 0;
  }
}

.circleContainer {
  flex: 0 0 var(--chart-diameter);
  width: var(--chart-diameter);
  position: relative;
  margin-left: 10px;

  svg {
    transform: scale(-1, 1);
  }

  @include minDesktop {
    padding: 2rem 0;
    margin-left: calc(-1 * (var(--chart-diameter) / 2) - var(--line-width));

    svg {
      transform: none;
    }
  }
}

.circleCurve {
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--half-line-width));
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--line-width);
  border-color: transparent;
  border-left-color: var(--highlight);
  transform: translate(calc((-1 * var(--half-line-width)) - 10px), calc(-1 * var(--half-line-width))) rotate(45deg);

  @include minDesktop {
    display: none;
  }
}

.circleChartDummy {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 5px solid var(--background-light);
  margin: 0 auto;
  background-color: var(--background);

  &__dark {
    background-color: var(--background-dark);
  }
}

.circleTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.85rem;
  transform: translate(-50%, -55%);
  text-transform: uppercase;
  cursor: default;
}

.radarContainer {
  width: 320px;
  flex: 0 0 320px;
  margin: 0 auto 0 auto;

  @include minDesktop {
    margin: 0 0 -25px 0;
  }
}

.radarChartDummy {
  height: 275px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 153px;
    height: 151px;
    background-color: var(--background-dark);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }

  &:after {
    content: '';
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    width: 151px;
    height: 149px;
    background-color: var(--background);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }
}

.keywords {
  flex: 1 1 auto;
  min-width: 0;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  order: 1;
  font-size: 6px;

  @include minTablet {
    font-size: 10px;
    flex: 0 0 auto;
    margin: 0;
  }

  @include minDesktop {
    flex: 1 1 auto;
    margin: 0 auto;
  }
}

.keyword {
  transition: 0.3s color;
  padding: 0.5rem;
  cursor: default;

  &__selected {
    color: var(--highlight);
  }

  @include minTablet {
    padding: 1rem;
  }
}

.skillBr {
  display: none;

  @include minTablet {
    display: inline;
  }
}