.card {
  background-color: var(--background-light);
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border-left: 2px solid var(--highlight-dark);
}

.cardTitle {
  color: var(--foreground--dark);
}