@import "../../styles/variables";

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-dark);
  z-index: 5;
  transform: translate(100%, 0);
  transition: 0.7s transform;

  &__open {
    transform: translate(0, 0);
  }

  @include minNav {
    display: block;
    position: sticky;
    top: 64px;
    transition: none;
    transform: none;
  }
}

.navigation {
  --diameter: var(--graph-event-diameter);
  --bar-width: 0px;

  margin: 0 auto;
  width: calc(var(--max-width) - (2 * var(--main-padding-single)));
  max-width: calc(100% - 2 * var(--main-padding-single));
  height: 100%;
  border-left: var(--border);
  padding-top: 180px;

  @include minNav {
    --bar-width: 30px;

    position: absolute;
    top: 15px;
    left: 0;
    height: auto;
    width: var(--bar-width);
    border: var(--border);
    border-left: none;
    border-radius: 0 var(--bar-width) var(--bar-width) 0;
    padding: calc(var(--bar-width) / 2) 0;
  }

}

.entry {
  display: block;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0;
  transition: 0.3s letter-spacing, 0.3s color;
  line-height: 1.0;
  padding-left: calc(var(--bar-width) + 2rem);

  &:not(:first-child) {
    margin-top: 4rem;
  }

  @include minNav {
    margin: calc(var(--bar-width) / 2) 0 !important;
    display: inline-block;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: var(--bar-width);
    transform: translate(calc(-1 * (50% + var(--half-line-width))), -50%);
    box-sizing: border-box;
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--background);
    border-radius: 50%;
    border: 2px solid var(--highlight);
    transition: 0.3s border-width, 0.3s background-color;
    vertical-align: 2px;
    margin-right: 1rem;
  }

  &:hover:before {
    background-color: var(--background-light);
  }

  &__active {
    color: var(--foreground) !important;
    letter-spacing: 2px;

    &.entry__long {
      letter-spacing: 1px;
    }

    &:before {
      border-width: calc(var(--diameter) / 2) !important;
    }
  }
}