.entry {
  display: flex;

  @media print {
    break-inside: avoid;
  }

  &__empty {
    @media print {
      display: none;
    }
  }
}

.slot {
  flex: 0 0 var(--graph-slot-width);
  width: var(--graph-slot-width);
  min-height: var(--graph-slot-width);
  display: flex; // ensure content has full height

  @media print {
    display: none;
  }
}

.content {
  flex: 1 1 auto;
  min-width: 0; // allow it to shrink

  &__spaceBefore {
    padding-top: var(--graph-slot-width);
  }

  @media print {
    padding-top: var(--graph-slot-width);
  }
}