@import "../../styles/variables";

.container {
  border-left: var(--border);

  @media print {
    border-left: none;
  }
}

.innerContainer {
  padding: 0 0 2rem 0;
  margin-left: calc(-1 * (var(--graph-slot-width) + var(--line-width)) / 2);

  @media print {
    margin-left: 0;
  }
}

.headline {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.5rem;

  @include minTablet {
    font-size: 1.8rem;
  }

  @include minDesktop {
    font-size: 2rem;
  }

  @media print {
    page-break-before: always;
  }
}