@import "../../styles/variables";

.container {
  background-color: var(--background-dark);
  border-top: 1px solid var(--highlight-dark);

  @media print {
    break-inside: avoid;
    margin-top: 3rem;
  }
}

.inner {
  min-height: 100px;
  border-left: var(--border);
  position: relative;
  display: flex;
  align-items: flex-end;

  @media print {
    border-left: none;
  }
}

.nav {
  flex: 0 0 auto;

  @media print {
    display: none;
  }
}

.link {
  display: block;
  margin: 1rem 0;
  line-height: var(--graph-event-diameter);
  padding-left: calc(1rem + (var(--graph-event-diameter) / 2));
  position: relative;

  &:before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: var(--graph-event-diameter);
    height: var(--graph-event-diameter);
    position: absolute;
    top: 0;
    left: calc(-1 * (var(--graph-event-diameter) / 2) - var(--half-line-width));
    background-color: var(--background);
    border-radius: 50%;
    border: 2px solid var(--highlight);
    transition: 0.3s border-width, 0.3s background-color;
  }

  &:hover:before {
    background-color: var(--background-light)
  }

  &__active {
    &:before {
      border-width: calc(var(--graph-event-diameter) / 2) !important;
    }
  }
}

.content {
  flex: 1 1 auto;
  padding: 1rem 0 1rem 2rem;
  text-align: right;
  color: var(--foreground-dark);
  font-size: 0.9rem;
}

.f12 {
  display: none;
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid var(--foreground-dark);
  color: var(--foreground-dark);
  line-height: 1.0;
  margin-bottom: 60px;

  &:before {
    content: "F12";
    transition: 0.3s color;
  }

  &:hover:before {
    color: var(--highlight);
  }

  @media screen and (min-width: $minDesktop)  {
    display: inline-block;
  }
}