@import "../../../styles/variables";
$imageSize: 50px;

.container {
  display: flex;
  padding-left: var(--right-col-left-padding);

  @include minDesktop {
    padding-left: var(--left-col-width);
  }

  @media print {
    margin-top: 1rem;
  }
}

.imageContainer {
  flex: 0 0 $imageSize;
  position: relative;
}

.image {
  width: $imageSize;
  height: $imageSize;
  border-radius: 50%;

  position: absolute;
  right: 0;
  bottom: calc(#{- $imageSize / 2} + var(--half-line-width));
}

.content {
  flex: 1 1 auto;
}

.text {
  font-size: 1.1rem;
  padding-right: 0.1rem;

  @include minTablet {
    font-size: 1.2rem;
    padding-right: 0.5rem;
  }

  @include minDesktop {
    font-size: 1.3rem;
    padding-right: 1rem;
  }
}

.line {
  height: var(--line-width);
  background-color: var(--background-light);
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: var(--line-width) solid var(--station-color);
    transform: translateX(100%);
    transition: 0.5s transform 0.3s ease-in;

    @media print {
      transform: translateX(0);
    }
  }

  &__highlighted {
    &:after {
      transition: 0.5s transform 0s ease-out;
      transform: translateX(0);
    }
  }
}