.container {
  display: flex;
}

.left {
  flex: 0 0 var(--left-col-width);
  text-align: right;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.right {
  flex: 1 1 auto;
}

.line {
  border-bottom: 4px solid var(--background-light);
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--station-color);
    transform: translateX(-100%);
    transition: 0.3s transform;
  }

  &__highlighted {
    &:before {
      transform: translateX(0);
    }
  }
}