$lineWidth: 4px;
$offset: $lineWidth / 2;
$eventDiameter: 30px;

.lineContainer {
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $lineWidth;
  left: calc(50% - $offset);
  background-color: var(--highlight);
}

.crossLine {
  position: absolute;
  left: 0;
  right: 0;
  height: $lineWidth;
  top: calc(50% - $offset);
  z-index: 1;
  background-color: var(--highlight);
}

.curve {
  position: absolute;
  top: - $offset;
  left: - $offset;
  bottom: - $offset;
  right: - $offset;
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: $lineWidth;
  border-color: transparent;
  border-left-color: var(--highlight);

  &__br {
    transform: translate(calc(50% - #{$offset}), calc(50% - #{$offset})) rotate(45deg);
  }

  &__bl {
    transform: translate(calc(-50% + #{$offset}), calc(50% - #{$offset})) rotate(135deg);
  }

  &__tl {
    transform: translate(calc(-50% + #{$offset}), calc(-50% + #{$offset})) rotate(225deg);
  }

  &__tr {
    transform: translate(calc(50% - #{$offset}), calc(-50% + #{$offset})) rotate(315deg);
  }
}

.event {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $eventDiameter;
  height: $eventDiameter;
  transform: translate(-50%, -50%);
  border: $lineWidth / 2 solid var(--highlight);
  border-radius: 50%;
  z-index: 2;
  background-color: var(--background);
}