$lineWidth: 4px;
$eventDiameter: 30px;

.lineContainer {
  position: relative;
  height: 40px;
  width: 40px;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $lineWidth;
  left: calc(50% - $lineWidth / 2);
  background-color: var(--highlight);
}

.crossLine {
  position: absolute;
  left: 0;
  right: 0;
  height: $lineWidth;
  top: calc(50% - $lineWidth / 2);
  z-index: 1;
  background-color: var(--highlight);
}

.curve {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: $lineWidth;
  border-color: transparent;
  border-left-color: var(--highlight);

  &__br {
    transform: translate(50%, 50%) rotate(45deg);
  }

  &__bl {
    transform: translate(-50%, 50%) rotate(135deg);
  }

  &__tl {
    transform: translate(-50%, -50%) rotate(225deg);
  }

  &__tr {
    transform: translate(50%, -50%) rotate(315deg);
  }
}

.event {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $lineWidth / 2 solid var(--highlight);
  border-radius: 50%;
}