.lineContainer {
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--line-width);
  left: calc(50% - var(--half-line-width));
  background-color: var(--highlight);
}

.crossLine {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--line-width);
  top: calc(50% - var(--half-line-width));
  z-index: 1;
  background-color: var(--highlight);
}

.curve {
  position: absolute;
  top: calc(-1 * var(--half-line-width));
  left: calc(-1 * var(--half-line-width));
  bottom: calc(-1 * var(--half-line-width));
  right: calc(-1 * var(--half-line-width));
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--line-width);
  border-color: transparent;
  border-left-color: var(--highlight);

  &__br {
    transform: translate(calc(50% - var(--half-line-width)), calc(50% - var(--half-line-width))) rotate(45deg);
  }

  &__bl {
    transform: translate(calc(-50% + var(--half-line-width)), calc(50% - var(--half-line-width))) rotate(135deg);
  }

  &__tl {
    transform: translate(calc(-50% + var(--half-line-width)), calc(-50% + var(--half-line-width))) rotate(225deg);
  }

  &__tr {
    transform: translate(calc(50% - var(--half-line-width)), calc(-50% + var(--half-line-width))) rotate(315deg);
  }
}

.event {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--graph-event-diameter);
  height: var(--graph-event-diameter);
  transform: translate(-50%, -50%);
  border: var(--half-line-width) solid var(--highlight);
  border-radius: 50%;
  z-index: 2;
  background-color: var(--background);
  transition: 0.3s border-width;

  &__highlighted {
    border-width: calc(var(--graph-event-diameter) / 2);
  }
}