$padding: 20px;
$side: 280px;

.printHint {
  padding: 1rem;

  @media print {
    display: none;
  }
}

.grid {
  display: flex;
  // hack, if we do a display: none, the graphs are missing in the print view
  height: 0;
  overflow: hidden;

  @media print {
    height: auto;
    overflow: visible;
  }

  &__center {
    align-items: center;
  }
}

.aside {
  flex: 0 0 $side;
  background-color: #dddddd;
  color: #555;
  padding: $padding;
  border-right: var(--border);
  text-align: right;
}

.main {
  flex: 1 1 auto;
  padding-right: 30px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: var(--border);
  position: relative;
  right: - $side / 2;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.header {
  padding-left: var(--left-col-width);
}

.headline {
  padding: 5px 0 5px var(--left-col-width);
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #ddd;
  color: #fff;
  letter-spacing: 1px;
}

.sidebarHeadline {
  text-align: right;
  margin-top: 100px;
  text-transform: uppercase;
  color: #fff;
  margin-right: - $padding;
  padding: 3px $padding;
  background-color: var(--highlight);
  display: inline-block;
  margin-left: auto;
  font-size: 1.0rem;
  letter-spacing: 1px;
}

.pagebreak {
  page-break-before: always;
  height: $padding;
}

.entry {
  position: relative;
  padding: 4px 17px 0 0;
  margin-top: 28px;

  a {
    color: inherit;
  }
}

.icon {
  $size: 34px;
  box-sizing: border-box;
  width: $size;
  height: $size;
  line-height: $size - 4px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--highlight);
  position: absolute;
  top: 0;
  right: - ($padding + ($size / 2) + 1px);
  color: var(--highlight);
  background-color: var(--foreground-dark);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.language {
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 2;
}

.bar {
  height: 4px;
  background-color: #fff;
  position: relative;
  right: - $padding;
  border-radius: 2px 0 0 2px;
}

.barFill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--highlight);
  border-radius: 2px 0 0 2px;
}

$skillsBorderRadius: 90px;
.skillsContainer {
  margin-left: - ($side - 2 * $padding);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: $side -  2 * $padding;
    top: - 4px;
    left: -4px;
    bottom: -4px;
    background-color: var(--highlight);
    border-radius: $skillsBorderRadius + 4px 0 0 $skillsBorderRadius + 4px;
  }
}

.skillsContainerInner {
  background-color: #fff;
  min-height: 400px;
  position: relative;
  z-index: 1;
  border-radius: $skillsBorderRadius 0 0 $skillsBorderRadius;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

.chartContainer {
  // we have to use pixel values here or the svgs go enrage and enlarge our page
  width: 400px;

  svg {
    filter: hue-rotate(180deg) invert(1) brightness(1.1);
  }

  :global(.apexcharts-datalabel) {
    font-family: inherit !important;
    fill: var(--background) !important;
    letter-spacing: 1px;
    font-size: 14px !important;
  }

  &:first-child {
    width: 800px;
    padding-left: 30px; // wtf?. Apex Chart is messed up, somehow does not center that graph
    margin-bottom: -30px;

    .chartTitle {
      margin-left: -30px;
      margin-bottom: -10px;
    }
  }
}

.chartTitle {
  margin-bottom: -5px;
  text-align: center;
  color: var(--highlight);
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
