.container {
  border-left: var(--border);

  @media print {
    border-left: none;
  }
}

.innerContainer {
  padding: 2rem 0;
  margin-left: calc(-1 * (var(--graph-slot-width) + var(--line-width)) / 2);

  @media print {
    margin-left: 0;
  }
}
